//colors
$main-color: #1f232c;
$blue-color: #3bafda;
$green-color: #a5c562;
$red-color: #ff503f;
$yellow-color: #f6bb42;
$turquoise-color: #1fb5ac;
$white-color: #fafafc;
$nav-color: #232730;
$grey-color: #a3aab4;
$light-grey-color:#f6f6f6;
$dark-grey-color:#a7a2a2;
$dark-blue-color:#7c95be;
$purple-color: #9972b5;
//font-size
$fz-title: 26px;
$fz-subtitle: 24px;
$fz-important: 20px;
$fz-short-info: 18px;
$fz-text: 16px;
$fz-small-text: 14px;
$fz-additional: 10px;
//various width
$sidebar-width: 320px
